.Movie {
  height: 45em; 
  width: 28em;
  border-radius: .5em; 
  background-size: cover; 
  margin-bottom: 1em; 
  /* border: .5px solid white;  */
  box-shadow: inset 0 0 15px white;
}

.Movie:hover {
    transform: scale(1.02);
}

.heart {
  float: left; 
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: 0.3em;
  height: 58px;
  margin-left: 0.8em;
}

.heart:hover {
  transform: scale(1.2);
}

.movie-rating {
  margin-top: 0;
  float: right; 
  padding: .8em; 
  font-size: 1.4em; 
  font-style: bolder; 
  color:black;
  background-color: white; 
  opacity: 0.8;
  border-radius: 0em .3em 0em .5em; 
}

.user-rating {
  color: whitesmoke;
  font-size: 1.6em;
  margin-right: 1em;
}

  
.movie-card-info { 
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  height: 5.5em;
  width: 28em;
  border-radius: 0.3em;
  border: 1px solid tomato;
  box-shadow: inset 0 0 10px tomato;
  margin-bottom: 5em;
}