nav {
  height: 8em;
  width: 100%;
  border-bottom: 1px solid white;
}

label.logo {
  color: tomato;
  font-size: 48px;
  line-height: 2.5em;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-link {
  text-transform: uppercase;
  font-size: 22px;
  color: whitesmoke;
  padding: 0.5em 1.2em;
  border-radius: 3px;
  text-decoration: none;
}

.active:hover {
  background: tomato;
  transition: 0.5s;
}
