@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.Movies {
  text-align: center;
  min-height: 300px;
  padding: 40px;
  display: grid; 
  grid-row-gap: 32px;
  font-size: 14px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 5em;
}

.all-movies-title {
  text-align: center;
  font-size: xxx-large;
  font-family: 'Architects Daughter';
}

.fav-instructions {
  text-align: center;
  color: tomato;
  font-family: 'Architects Daughter';
}

.error-msg {
  margin-top: 5em;
  font-family: 'Architects Daughter';
}

@media screen and (max-width: 1050px) {
  .Movies {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .Movies {
    grid-template-columns: 1fr;
  }
}